/* .blur {
    display: flex;
    flex-direction: unset;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} */
.blur:hover .card:not(:hover) a img {
    filter: brightness(0.5) saturate(1) contrast(1) grayscale(1) blur(100px);
}

/* .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 250px;
    height: 300px;
    position: relative;
    margin: 28px;
    padding: 24px;
    cursor: pointer;
} */
.card:hover img {
    transform: scale(1.11);
    box-shadow: 4px 4px 40px rgba(255, 255, 255, 0.2);
    filter: brightness(0.95) saturate(1.4) contrast(0.9);
}
/* .card:hover {
    box-shadow: 4px 4px 40px rgba(255, 255, 255, 0.2);
    filter: brightness(0.95) saturate(1.4) contrast(0.9);
} */
.card {
    transition: all 0.3s;
    border-radius: 20px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
}
